.App {
  text-align: center;
  align-content: center;
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
}

.grid {
  display:inline-flex;
  flex-wrap: wrap;
  width: 180px;
}



